.button {
  @include link;
  display: block;
  color: $white;
  text-align: center;
  padding: 12px;
  background-color: $leaf;

  &--grey {
    background-color: $lightgrey;
    color: $greyish;
  }
}

@media (min-width: $tablet-width) {
  .button {
    @include texter($white, 20px, 20px, 400)
    padding: 16px;
  }
}

@media (min-width: $desktop-width) {

}
