.button {
  @include link;
  display: block;
  color: $white;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  padding: 11px;
  background-color: $leaf;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--form {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    border: none;
    padding: 11px 10px 9px;
    margin-bottom: 21px;
  }

  &--grey {
    background-color: $lightgrey;
    color: $greyish;
    font-size: 16px;
    padding: 12px 10px 10px;
  }

  &--grey:hover {
    background-color: #ebebeb;
  }

  &--grey:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .button {
    font-size: 20px;
    line-height: 20px;
    padding: 16px;

    &--grey {
      font-size: 16px;
      padding: 11px 0 9px;
      margin-top: auto;
    }
  }
}
