.collaboration--form {
  background-color: $lightgrey;
}

.collaboration__conteiner {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 25px;
}

.collaboration__invite {
  @include texter($black, 16px, 20px, 400);
  width: 125px;
  text-transform: uppercase;
  text-align: left;

  p {
    margin: 0;
  }
}

.collaboration__address {
  @include texter($greyish, 14px, 20px, 400);
  font-family: "Arial", sans-serif;
  margin-right: 5px;

  p {
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .collaboration__conteiner {
    padding-top: 69px;
    padding-bottom: 58px;
    padding-left: 41px;
    padding-right: 36px;
  }

  .collaboration__invite {
    font-size: 20px;
    line-height: 25px;
  }

  .collaboration__address {
    font-size: 16px;
    line-height: 20px;
    text-align: right;

    p:first-child {
      padding-bottom: 20px;
      margin-top: -2px;
    }
  }
}
