.copyright__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;

  &:hover > .copyright__academy {
    fill: $leaf;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  @include texter($greyish, 16px, 16px, 400);
}


.copyright__academy {
  width: 27px;
  height: 34px;
  fill: #666666;
}

@media (min-width: $tablet-width) {
  .copyright__text {
    margin-right: 22px;
  }
}
