.copyright__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

.copyright__text {
  @include texter($greyish, 16px, 16px, 400);
}


.copyright__academy {
  width: 27px;
  height: 34px;

  path {
    fill: #666666;
  }
}

.copyright__link {
  &:hover {
    path {
      fill: $leaf;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .copyright__text {
    margin-right: 22px;
  }
}
