.input__string {
  @include texter($greyish, 16px, 18px, 400);
  text-transform: uppercase;
  padding: 12px 13px 13px;
  flex-grow: 1;
  border: 1px solid rgba(205, 205, 205, 0.5);
  background-repeat: no-repeat;
  background-origin: content-box;

  &:hover {
    border: 1px solid rgba(205, 205, 205, 1);
  }

  &:focus {
    border: solid 2px #444444;
    outline: none;
    padding: 11px 12px 12px;
  }

  &--mail:focus {
    padding-right: 14px;
    background-image: url("../img/icon-mail-active.svg");
  }

  &--phone:focus {
    padding-right: 10px;
    background-image: url("../img/icon-phone-active.svg");
  }

  &--mail {
    background-image: url("../img/icon-mail.svg");
    background-size: 18px 14px;
    padding-right: 15px;
    background-position: right 2px;
  }

  &--phone {
    background-image: url("../img/icon-phone.svg");
    background-size: 21px;
    padding-right: 11px;
    background-position: right 0;
  }
}

.error {
  border: solid 2px #ff8282;
  padding: 11px 12px 12px;

  &:hover {
    padding: 12px 13px 13px;
  }

  &--mail:hover {
    padding-right: 15px;
    background-image: url("../img/icon-mail.svg");
  }

  &--phone:hover {
    padding-right: 11px;
    background-image: url("../img/icon-phone.svg");
  }

  &--mail {
    padding-right: 14px;
    background-image: url("../img/icon-mail-error.svg");
  }

  &--phone {
    padding-right: 10px;
    background-image: url("../img/icon-mail-error.svg");
  }

  &:focus {
    outline: none;
    padding: 11px 12px 12px;
  }

  &--mail:focus {
    padding-right: 14px;
    background-image: url("../img/icon-mail-active.svg");
  }

  &--phone:focus {
    padding-right: 10px;
    background-image: url("../img/icon-phone-active.svg");
  }
}

.input__area {
  width: 100%;
  height: 150px;
}

.input__radio {
  position: relative;
  padding-left: 46px;
  padding-top: 11px;
  padding-bottom: 14px;
}

.input__radio-lbl {
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    border-radius: 15px;
    top: 5px;
    left: 0;
    cursor: pointer;
  }

  &:hover::before {
    border-color: #bababa;
  }

  &:active {
    color: rgba(34, 34, 34, 0.3);
  }

  &:active::before {
    border-color: rgba(186, 186, 186, 0.3);
  }
}

.input__radio-btn:checked ~ .input__radio-lbl::before {
  top: 6px;
  left: 1px;
  width: 28px;
  height: 28px;
  border: 8px solid $white;
  box-shadow: 0 0 0 1px #cdcdcd;
  background-color: $leaf;
  border-radius: 14px;
}

.input__radio-btn:focus + .input__radio-lbl::before {
  outline: 1px dotted #212121;
  outline: 5px auto -webkit-focus-ring-color;
}

.input__radio-btn:checked:hover ~ .input__radio-lbl::before {
  box-shadow: 0 0 0 1px #bababa;
}

.input__radio-btn:checked:active ~ .input__radio-lbl::before {
  opacity: 0.3;
}



.input__checkbox {
  position: relative;
  padding-left: 46px;
  padding-top: 11px;
  padding-bottom: 13px;
}



.input__checkbox-lbl {
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    top: 5px;
    left: 0;
    cursor: pointer;
  }

  &:hover::before {
    border-color: #bababa;
  }

  &:active {
    color: rgba(34, 34, 34, 0.3);
  }
}

.input__checkbox-btn:focus + .input__checkbox-lbl::before {
  outline: 1px dotted #212121;
  outline: 5px auto -webkit-focus-ring-color;
}

.input__checkbox-btn:checked ~ .input__checkbox-lbl::before {
  background-image: url("../img/icon-tick.svg");
  background-size: 22px 17px;
  background-repeat: no-repeat;
  background-position: center;
}

.input__checkbox-btn:active ~ .input__checkbox-lbl::before {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .input__string {
    font-size: 20px;
    line-height: 20px;
    padding: 9px 18px 11px;

    &:focus {
      border: solid 2px #444444;
      outline: none;
      padding: 8px 17px 10px;
    }

    &--mail:focus {
      padding-right: 18px;
    }

    &--phone:focus {
      padding-right: 16px;
    }

    &--mail {
      padding-right: 19px;
      background-position: right 9px;
    }

    &--phone {
      padding-right: 17px;
      background-position: right 6px;
    }
  }

  .error {
    border: solid 2px #ff8282;
    padding: 8px 17px 10px;

    &:hover {
      padding: 9px 18px 11px;
    }

    &--mail:hover {
      padding-right: 19px;
    }

    &--phone:hover {
      padding-right: 17px;
    }

    &--mail {
      padding-right: 18px;
    }

    &--phone {
      padding-right: 16px;
    }

    &:focus {
      padding: 8px 17px 10px;
    }

    &--mail:focus {
      padding-right: 18px;
    }

    &--phone:focus {
      padding-right: 16px;
    }
  }

  .input__radio {
    padding-left: 60px;
    padding-top: 14px;
    padding-bottom: 18px;
  }

  .input__radio-lbl {
    &::before {
      width: 40px;
      height: 40px;
      border: 1px solid #cdcdcd;
      border-radius: 20px;
      top: 5px;
      left: 0;
      cursor: pointer;
    }
  }

  .input__radio-btn:checked ~ .input__radio-lbl::before {
    top: 6px;
    left: 1px;
    width: 38px;
    height: 38px;
    border: 10px solid $white;
    box-shadow: 0 0 0 1px #cdcdcd;
    background-color: $leaf;
    border-radius: 19px;
  }

  .input__area {
    height: 174px;
    padding-top: 14px;
    padding-bottom: 13px;

    &:focus {
      padding-top: 13px;
      padding-bottom: 12px;
    }
  }

  .input__checkbox {
    padding-left: 58px;
    padding-top: 14px;
    padding-bottom: 37px;
    width: calc(50% - 29px);

    &:nth-child(2n - 1) {
      margin-right: auto;
    }
  }

  .input__checkbox-lbl {
    &::before {
      width: 40px;
      height: 40px;
      top: 5px;
      left: 0;
    }
  }

  .input__checkbox-btn:checked ~ .input__checkbox-lbl::before {
    background-size: 21px 16px;
  }
}

@media (min-width: $desktop-width) {
  .input__checkbox {
    width: calc(25% - 29px);

    &:not(:last-child) {
      margin-right: auto;
    }
  }
}
