.item-card__block {
  display: flex;
}

.item-card__title-link {
  @include link;
}

.item-card__title {
  @include texter($black, 16px, 20px, 400);
  width: 100px;
}

.item-card__value {
  @include texter($greyish, 12px, 16px, 400);
  text-align: right;
  font-family: "Arial", sans-serif;
}

.item-card__parameter {
  @include texter($greyish, 12px, 16px, 400);
  font-family: "Arial", sans-serif;
}

@media (min-width: $tablet-width) {
  .item-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $lightgrey;
    min-height: 430px;
  }

  .item-card__block {
    flex-direction: column;
    align-items: center;
  }

  .item-card__title {
    @include texter($black, 20px, 20px, 400);
    text-align: center;
    width: 130px;
  }

  .item-card__parameter,
  .item-card__value {
    @include texter($greyish, 16px, 16px, 400);
  }
}
