.item-card__block {
  display: flex;
}

.item-card__title-link {
  @include link;
}

.item-card__image {
  display: block;
}

.item-card__title {
  @include texter($black, 16px, 20px, 400);
  width: 100px;
  margin: 22px 0 12px;
}

.item-card__info {
  flex-grow: 1;
}

.item-card__list {
  width: 100%;
  border-collapse: collapse;
}

.item-card__value {
  @include texter($greyish, 12px, 16px, 400);
  text-align: right;
  font-family: "Arial", sans-serif;
  padding: 0;
}

.item-card__parameter {
  @include texter($greyish, 12px, 16px, 400);
  font-family: "Arial", sans-serif;
  padding: 0;
}

.item-card__button {
  padding: 11px;
  font-size: 16px;
}

@media (min-width: $tablet-width) {
  .item-card {
    position: relative;
    background-color: $lightgrey;
    min-height: 430px;
  }

  .item-card__info {
    width: 100%;
  }

  .item-card__image {
    position: absolute;
    left: 0;
    bottom: 304px;
  }

  .item-card__image-link {
    padding-top: 100px;
  }

  .item-card__block {
    flex-direction: column;
    align-items: center;
  }

  .item-card__title {
    @include center-pos;
    text-align: center;
    font-size: 20px;
    width: 130px;
    margin-bottom: 27px;
    margin-top: 23px;
  }

  .item-card__button {
    font-size: 16px;
    padding: 11px 0 9px;
  }

  .item-card__list tr {
    border-bottom: 1px solid #cecece;
    display: flex;
    justify-content: space-between;
    padding-bottom: 6px;
    margin-bottom: 9px;
  }

  .item-card__list tbody {
    display: flex;
    flex-direction: column;
  }

  .item-card__parameter,
  .item-card__value {
    @include texter($greyish, 16px, 16px, 400);
  }
}
