.load-moar__wrapper {
  display: flex;
  flex-direction: column;
}

.load-moar__toggle {
  @include center-pos;
  @include sizer(31px);
  display: block;
  background-image: url("../img/icon-plus.svg");
  background-repeat: no-repeat;
  margin-bottom: 23px;
  margin-top: 25px;
  opacity: 0.2;
}

.load-moar__attention {
  @include texter($black, 16px, 20px, 400);
  text-transform: uppercase;
  align-self: center;
}

.load-moar__text {
  @include texter($greyish, 12px, 16px, 400);
  text-align: center;
  font-family: "Arial", sans-serif;
  margin-top: 8px;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .load-moar__toggle {
    @include sizer(61px);
    margin-top: 15px;
    margin-bottom: 48px;
  }

  .load-moar__attention {
    width: 150px;
    font-size: 20px;
    text-align: center;
  }

  .load-moar__text {
    align-self: center;
    font-size: 16px;
    line-height: 19px;
    width: 170px;
    margin-top: 25px;
  }

  .load-moar__wrapper {
    min-height: 350px;
  }
}
