.page-main__wrapper {
  @include center-pos;
  @include border-bot;
  padding: 0 0 35px;
  width: 280px;
}

.page-main__title {
  color: $white;
  padding-top: 30px;
  line-height: 36px;
  text-align: center;
  z-index: 2;

  &--catalog {
    @include texter($black, 36px, 60px, 400);
    text-align: left;
  }
}

@media (min-width: $tablet-width) {
  .page-main__title {
    @include texter($black, 60px, 60px, 400);
    width: 450px;
    text-align: left;

    &--catalog {
      width: 708px;
    }
  }

  .page-main__wrapper {
    width: 708px;
    border-bottom: none;
    margin-bottom: 150px;
  }
}


@media (min-width: $desktop-width) {
  .page-main__title {
    margin-top: 100px;

    &--catalog {
      margin: 70px 0;
    }
  }

  .page-main__wrapper {
    width: 1220px;
  }
}
