.page-main {
  &__wrapper {
    @include wrapper;
    @include border-bot;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__title {
    @include text(36px);
    color: $white;
    padding-top: 30px;
  }

  &__title--catalog {
    @include texter($black, 36px, 60px, 400);
    text-align: left;
  }
}

@media (min-width: $tablet-width) {
  .page-main__title {
    @include texter($black, 60px, 60px, 400);
    width: 450px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {

  }
}
