.page-header__border {
  border-bottom: 1px solid $bordonwhite;
}

.page-header__wrapper {
  @include center-pos;
  width: 280px;
  position: relative;
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
}

.page-header__logo img {
  width: 191px;
  height: 39px;
}

.page-header__logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__section {
  display: flex;
  flex-direction: column;
}

.page-header__toggle {
  position: absolute;
  padding: 0;
  top: 23px;
  right: -1px;
  z-index: 2;
  display: block;

  height: 19px;
  background-color: transparent;
}

.page-header__wrapper--closed .page-header__toggle {
  width: 25px;
  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
}

.page-header__wrapper--opened .page-header__toggle {
  width: 19px;
  background-image: url("../img/icon-close.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
}

.page-header__wrapper--closed.main-nav {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header__wrapper--closed.main-nav {
    display: block;
  }

  .page-header__border {
    border-bottom: none;
  }

  .page-header__wrapper {
    margin: 0;
    width: auto;
  }

  .page-header__section {
    @include center-pos;
    width: 708px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: none;
    padding: 22px 0;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__logo img {
    display: block;
    width: 174px;
    height: auto;
  }
}

@media (min-width: $desktop-width) {
  .page-header__section {
    width: 1220px;
    padding: 53px 0;
  }

  .index-header {
    &::after {
      content: "";
      position: absolute;
      width: 50%;
      height: 100%;
      top: 0;
      right: 0;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-position: top right;
      background-size: contain;
      z-index: -1;
    }
  }

  .page-header__logo img {
    width: 203px;
  }
}
