.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__positioner {
  @include center-pos;
  width: 320px;
}

.page-header__wrapper {
  @include wrapper;
  @include padding-vert(10px);
  border-bottom: 1px solid $black;
}

@media (min-width: $tablet-width) {
  .page-header {
    @include center-pos;
    padding: 10px 0px;
    flex-direction: row;
    justify-content: space-between;
  }

  .page-header__positioner {
    width: 708px;
  }

  .page-header__wrapper {
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 1220px;
  }
}
