.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__wrapper {
  @include wrapper;
  @include padding-vert(10px);
  border-bottom: 1px solid $black;
}

@media (min-width: $tablet-width) {
  .page-header {
    flex-direction: row;
  }

  .page-header__wrapper {
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {

  }
}
