.page-footer {
  background-color: $lightgrey;
}

.page-footer__wrapper {
  padding: 40px 0 22px;
  display: flex;
  flex-direction: column;
}

.page-footer__logo {
  @include border-bot(#dadada);
  padding: 30px 70px;
}

.page-footer__logo-link {
  @include center-pos;
  display: block;
  width: 128px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__list {
  @include border-bot(#dadada);
  padding-top: 25px;
  padding-bottom: 19px;
}

.page-footer__copyright {
  font-family: "Arial", sans-serif;
  padding-top: 20px;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    padding: 50px 0 58px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .page-footer__logo {
    border-bottom: none;
    padding: 0;
    margin: 0;
  }

  .page-footer__list {
    width: 20%;
    border-bottom: none;
    padding-bottom: 0;
  }

  .page-footer__copyright {
    padding-top: 0;
  }
}
