.page-main__wrapper {
  @include center-pos;
  @include border-bot;
  padding: 0px 20px 35px;
  width: 320px;
}

.page-main__title {
  @include text(36px);
  color: $white;
  padding-top: 30px;
  z-index: 2;
}

.page-main__title--catalog {
  @include texter($black, 36px, 60px, 400);
  text-align: left;
}

@media (min-width: $tablet-width) {
  .page-main__title {
    @include texter($black, 60px, 60px, 400);
    width: 450px;
    text-align: left;

    &--catalog {
      width: 708px;
    }
  }

  .page-main__wrapper {
    width: 768px;
    padding: 0 30px;
    border-bottom: none;
    margin-bottom: 150px;
  }
}


@media (min-width: $desktop-width) {
  .page-main__title {
    margin-top: 100px;

    &--catalog {
      margin: 70px 0;
    }
  }

  .page-main__wrapper {
    width: 1440px;
    padding: 0 110px;
  }
}
