.page-footer {
  background-color: $lightgrey;
}

.page-footer__wrapper {
  @include center-pos;
  width: 320px;
  padding: 40px 20px 22px;
  display: flex;
  flex-direction: column;
}

.page-footer__logo {
  @include border-bot($greyish);
  padding: 30px 70px;
}

.page-footer__logo-link {
  @include center-pos;
  display: block;
  width: 128px;
}

.page-footer__list {
  @include border-bot;
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-footer__copyright {
  font-family: Arial;
  padding-top: 20px;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    width: 768px;
    padding: 20px 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo {
    border-bottom: none;
    padding: 0;
    margin: 0;
  }

  .page-footer__list {
    width: 20%;
    border-bottom: none;
    background-color: rgba(100, 100, 100, 0.3);
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    min-width: 1440px;
  }

  .page-footer__wrapper {
    width: 1440px;
    padding: 20px 100px;
  }
}
