.page-footer {
  background-color: $lightgrey;

  &__wrapper {
    @include center-pos;
    display: flex;
    flex-direction: column;
    width: 280px;
    padding-top: 40px;
    padding-bottom: 22px;
  }

  &__logo {
    @include center-pos;
    @include border-bot;
    padding: 30px 70px;
  }

  &__logo-link {
    @include center-pos;
    display: block;
    width: 128px;
  }

  &__list {
    @include border-bot;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__copyright {
    font-family: Arial;
    padding-top: 20px;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {

  }

  .page-footer__wrapper {
    width: 708px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo {
    border-bottom: none;
    padding: 0;
    margin: 0;
  }

  .page-footer__list {
    width: 30%;
    border-bottom: none;
  }

}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: 1220px;
  }
}
