.program-selection {
  @include center-pos;
  width: 280px;
  background-color: white;
  padding-bottom: 20px;

  &__list {
    padding: 0;
  }

  &__item {
    list-style: none;
    background-color: $lightgrey;
    @include center-pos;
  }

  &__partition {
    padding-bottom: 20px;
    margin: 20px;
  }

  &__title {
    @include texter($black, 24px, 37px, 400);
    position: relative;
    text-transform: uppercase;
    text-align: left;
    padding-left: 75px;
    padding-top: 40px;
  }

  &__title::before {
    @include pseudo(50px, 50px, $leaf);
    border-radius: 25px;
    top: 35px;
    left: 0px;
  }

  &__description {
    @include texter($greyish, 14px, 18px, 400);
    font-family: Arial;
    padding-bottom: 24px;
    border-bottom: 1px solid black;
  }

  &__link {
    @include texter($black, 16px, 16px, 400);
    @include link;
    padding: 5px 0;
  }
}

@media (min-width: $tablet-width) {
  .program-selection {
    width: 708px;
  }

  .program-selection__partition {
    position: relative;
    margin: 55px;
    padding-right: 220px;

    &::after {
      @include pseudo(200px, 200px, $leaf);
      border-radius: 100px;
      top: 40px;
      right: 0px;
    }
  }

  .program-selection__title {
    @include texter($black, 36px, 37px, 400);
    padding-left: 0px;
  }

  .program-selection__title::before {
    content: none;
  }

  .program-selection__description {
    @include texter($black, 16px, 24px, 400);
    border-bottom: none;
  }

  .program-selection__link {
    @include texter($black, 20px, 20px, 400);
  }
}

@media (min-width: $desktop-width) {
  .program-selection {
    width: 1220px;
  }

  .program-selection__title {
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 164px;

    &::before {
      @include pseudo(100px, 100px, $leaf);
      border-radius: 50px;
      top: 15px;
      left: 0px;
    }
  }

  .program-selection__list {
    display: flex;
    justify-content: space-between;
  }

  .program-selection__item {
    margin: 0;
    width: calc(50% - 40px);
  }

  .program-selection__partition {
    padding-right: 0px;

    &::after {
      content: none;
    }
  }
}
