.promo {
  width: 320px;
  @include center-pos;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: contain;

  &__title {
    @include texter($white, 14px, 14px, 400);
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__product {
    @include center-pos;
    width: 280px;
  }
}

.promo__button {
  @include center-pos;
  width: 280px;
}

@media (min-width: $tablet-width) {
  .promo__wrapper {
    @include center-pos;
    width: 768px;
    padding: 0 30px 0 90px;
  }

  .promo {
    display: flex;
    flex-direction: column;
    background-image: none;
    margin: 0;
  }

  .promo__title {
    font-size: 20px;
    color: $black;
    text-align: left;
    z-index: 2;
  }

  .promo__product {
    order: 1;
    margin-top: -80px;
    z-index: 1;
  }

  .promo__button {
    width: 245px;
    order: 0;
    margin-left: 0;
    z-index: 2;
  }
}

@media (min-width: $desktop-width) {
  .promo__wrapper {
    width: 1440px;
    padding: 0 110px 200px 190px;
  }

  .promo {

  }

  .promo__title {
    margin-top: 30px;
  }

  .promo__button {
    margin-top: 50px;
  }

  .promo__product {
    margin-top: -200px;
  }
}
