.site-list {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.site-list__item {
  padding: 22px 0;
  border-bottom: 1px solid $bordonwhite;
}

@media (min-width: $tablet-width) {
  .site-list {
    flex-direction: row;
  }

  .site-list__item {
    border-bottom: none;
    padding: 20px 0;
    margin-left: 35px;
  }

  .site-list__item:first-child {
    border-top: none;
  }
}
