.slider {
  align-items: center;
}

.slider__outline {
  position: relative;
  display: block;
  width: 84px;
  height: 14px;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
  background-color: $white;
}

.slider__inline {
  position: absolute;
  top: 3px;
  left: 5px;
  display: block;
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: $leaf;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .slider__edge {
    position: relative;
    font-size: 20px;
    padding-bottom: 6px;
    padding-top: 2px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.23);
    cursor: pointer;

    &:hover {
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    }

    &:active {
      border-bottom: none;
    }
  }

  .slider {
    width: 592px;
    margin: 0 auto;
  }

  .slider__outline {
    width: 428px;
    height: 6px;
    border-radius: 2.5px;
    background-color: #dcdcdc;
    border: none;
  }

  .slider__inline {
    top: -14px;
    left: calc(50% - 15px);
    width: 34px;
    height: 34px;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15);
    border: 13px solid #ffffff;
    border-radius: 17px;

    &:hover {
      box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      top: -13px;
      left: calc(50% - 14px);
      width: 32px;
      height: 32px;
      border: 12px solid #ffffff;
      box-shadow: 0px 0px 0 2px $leaf, 0px 4px 5px 0 rgba(0, 0, 0, 0.3);
    }
  }
}
