.social {
  @include list;
  @include center-pos;
  display: flex;
  justify-content: space-between;
  width: 125px;
}

.social__link {
  &:hover {
    path {
      fill: $leaf;
    }

    circle {
      fill: $leaf;
    }
  }

  &:active {
    opacity: 0.3;
  }
}
