.social {
  @include list;
  margin-left: 73px;
  display: flex;
  justify-content: space-between;
  width: 125px;
  align-items: flex-start;
}

.social__icon {
  fill: #666666;

  &:hover {
    fill: $leaf;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social {
    margin-right: 0;
    margin-left: 19px;
    align-items: center;
  }

  .social__icon--vk {
    width: 30px;
    height: 16px;
  }

  .social__icon--inst {
    width: 23px;
    height: 23px;
  }

  .social__icon--fb {
    width: 14px;
    height: 28px;
  }
}

@media (min-width: $desktop-width) {
  .social {
    margin-left: 70px;
  }

  .copyright__link {
    margin-bottom: -3px;
  }
}
