.title {
  @include texter($black, 36px, 60px, 400);
  margin: 0;
}

.title__wrapper {
  padding-bottom: 41px;
  border-bottom: 1px solid #cecece;

  &--form {
    padding-bottom: 30px;
    border-bottom: none;
  }
}

.title__line {
  display: block;
  width: 50%;
  height: 3px;
  background-color: $leaf;
  margin-left: auto;
  margin-top: 43px;

  &--form {
    margin-top: 42px;
  }
}

.title__bg {
  position: relative;
}

.title__sideline {
  @include texter($black, 24px, 24px, 400);
  position: absolute;
  top: -14px;
  padding-right: 22px;
  background-color: $white;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .title {
    font-size: 60px;
  }

  .title__sideline {
    font-size: 36px;
    line-height: 36px;
    top: -22px;
    padding-left: 37px;
    padding-right: 37px;
  }

  .title__line {
    width: 100%;
    margin-left: 0;
  }

  .title__wrapper {
    padding-bottom: 91px;
  }
}

@media (min-width: $desktop-width) {
  .title--form {
    margin-top: -1px;
    padding-top: 0;
  }

  .title__line {
    margin-top: 98px;

    &--form {
      margin-top: 0;
    }
  }

  .title__sideline {
    margin-left: -38px;
  }

  .title__wrapper {
    border-bottom: none;
  }
}
