.title {
  @include texter($black, 36px, 60px, 400);
  margin: 0;

  &--form {
    margin-bottom: 26px;
  }
}

@media (min-width: $tablet-width) {
  .title {
    font-size: 60px;
  }
}

@media (min-width: $desktop-width) {
  .title--form {
    margin-top: -1px;
    padding-top: 0;
  }
}
