.button {
  display: block;
  color: $white;
  text-align: center;
  @include link();
  padding: 12px;
  background-color: $leaf;
  &--grey {
    background-color: $lightgrey;
    color: $greyish;
  }
}
