.page-main {
  &__wrapper {
    @include wrapper;
    padding-top: 30px;
    padding-bottom: 30px;
    @include border-bot;
  }
  &__title {
    color: $white;
    @include text(36px);
  }
  &__title--catalog {
    text-align: left;
    @include texter($black, 36px, 60px, 400);
  }
}
