.promo {
  background-image: url('../img/index-background-mobile@1x.jpg');
  background-size: cover;
  @include wrapper;
  &__title {
    text-align: center;
    text-transform: uppercase;
    @include texter($white, 14px, 14px, 400);
  }
  &__product {
    width: 280px;
    @include center-pos();
  }

}
