


@mixin nav-text() {
  font-size: 20px;
  line-height: 20px;
  color: $black;
  text-transform: uppercase;
}

.site-list {
  list-style: none;
  padding: 0;
  @include center-pos;
  @include text;
  &__item {
    padding: 22px 70px;
    font-weight: 500;
    border-bottom: 1px solid $black;
  }
  &__item:first-child {
    border-top: 1px solid $black;
  }
}
